body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar {
    width: 95%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.calendar-navigation button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.calendar-filters select {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.calendar-body {
    display: flex;
    flex-direction: column;
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
}

.calendar-day {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.calendar-events {
    display: flex;
    flex-direction: column;
}

.calendar-row {
    display: flex;
    flex-direction: column;
}

.calendar-cell {
    flex: 1;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 10px;
}

.event {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
}

.orange {
    background-color: #ff9800;
}

.purple {
    background-color: #9c27b0;
}

.blue {
    background-color: #2196f3;
}

.green {
    background-color: #4caf50;
}

.yellow {
    background-color: #ffeb3b;
}

.brown {
    background-color: #795548;
}

.back-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button:hover {
    background-color: #555;
}
/* Медиазапросы для мобильных устройств */
@media (min-width: 600px) {
    .calendar-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .calendar-days {
        flex-direction: row;
    }

    .calendar-day {
        margin-right: 10px;
    }

    .calendar-events {
        flex-direction: row;
    }

    .calendar-row {
        flex-direction: row;
    }

    .calendar-cell {
        margin-right: 10px;
        margin-bottom: 0;
    }
}
